<?xml version='1.0' encoding='utf-8'?>
<widget id="com.smithdesign.wam" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Whack-A-Mole</name>
    <description>
        HTML5 Whack A Mole Game.
    </description>
    <author email="tim.smith.hdg@gmail.com" href="https://github.com/timbo27/Whack-A-Mole-iOS">
        SmithDesign
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="exit-on-suspend" value="true" />
</widget>
